<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713792674538-acc96pkkpf6f6215507epm1oarga0q00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713792674538-acc96pkkpf6f6215507epm1oarga0q00</string>
	<key>API_KEY</key>
	<string>AIzaSyDzGEpcWMM_p7uDyRNxg12u5w6PKTxTIJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>713792674538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nozawaeijirou.UberTutorial</string>
	<key>PROJECT_ID</key>
	<string>ubertutorial-85e39</string>
	<key>STORAGE_BUCKET</key>
	<string>ubertutorial-85e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713792674538:ios:81c8b77bf4a39a433a1593</string>
</dict>
</plist>